  
*~
#*
target
.antlr
.interp
SyntaxAnalyzerLexer*.java
SyntaxAnalyzerListener*
SyntaxAnalyzerBaseListener*
SyntaxAnalyzerBaseVisitor*
SyntaxAnalyzerParser*
SyntaxAnalyzerVisitor*
*.out
*.class
*.jar
*.tokens
